/* high level defaults */
html{
  height:100%;
	width:100%;
	margin:0;
	padding:0;
	border:0;
}

body {
  height:100%;
	width:100%;
	margin:0;
	padding:0;
	border:0;
  font-family: Arial, Helvetica;
}

table{
  height:100%;
	width:100%;
	margin:0;
	padding:0;
	border:0;
	text-align:center;
	vertical-align:middle;
}

#myCanvas {
  /* centers horizontally but not vertically */
  /* padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto; */
  /* centers both horizontal and vertical
  see https://stackoverflow.com/questions/5127937/how-to-center-canvas-in-html5 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* misc */
  display: none;
}

/* instruction screen styles */
.instructions {
  display: none;
  color: black;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.instruction-body {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: pre-line;
}

.instruction-header p {
  padding-bottom: 15px;
  border-bottom: 3px solid black;
}

.instruction-header {
  text-align: left;
}

/* buttons  */
#nextInstrButton{
  font-size: 22px;
}

#nextSectionButton{
  color: blue;
  font-size: 22px;
  font-weight: bold;
}

#modal-container {
  display: none; /* Will be controlled by JS */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100; /* Ensure it stays on top */
}

#open-modal {
  font-size: 18px;
  padding: 8px 12px;
  background-color: #CCCCCC;
  border: 2px outset grey;
  cursor: pointer;
}

#open-modal:hover {
  background-color: #BBBBBB;
}
#startExpButton {
  display:none;
  color: black;
  border: 3px outset grey;
  background-color: #CCCCCC;
  padding: 8px;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-weight: bold;
}

#startExpButton:hover {
  color: white;
}

#startExpButton:active {
  border: 3px inset grey;
}

/* menu closed styles */
.MenuClosedPrompt{
  display: none;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

body {background-color: lightgray;}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: lightgray;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 900px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
